@{
    ViewBag.Title = "Über uns";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Diese Skievermitung wurde von Ivan Probst und Francisco Metzger entwickelt. Dabei handelt es sich um ein Schulprojekt</p>
