@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Francisco Metzger & Ivan Probst
</address>

<address>
    <strong>Entwicklung:</strong>   <a href="mailto:ski.development@gmail.com">ski.development@gmail.com</a><br />
    <strong>Support:</strong> <a href="mailto:ski.support@example.com">ski.support@gmail.com</a>
</address>