@{
	ViewBag.Title = "Ski-/Snowboardvermietung";
}

<div class="jumbotron">
	<h1>Ski-/Snowboardvermietung</h1>
	<p class="lead">Interne Verwaltung des Ski-/Snowboard sortiments</p>
</div>

<div class="row">
	<div class="col-md-3">
		<p>@Html.ActionLink("Vermietungen", "Index", "Vermietung")</p>
	</div>
	<div class="col-md-3">
		<p>@Html.ActionLink("Kunden verwalten", "Index", "Kunde")</p>
	</div>
	<div class="col-md-3">
		<p>@Html.ActionLink("Artikel", "Index", "Artikel")</p>
	</div>
	<div class="col-md-3">
		<p>@Html.ActionLink("Kategorien", "Index", "Kategorie")</p>
	</div>
</div>