@model Skivermietung.Models.Kategorie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kategorie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bezeichnung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bezeichnung)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Anpassen", "Edit", new { id = Model.ID_Kategorie }) |
    @Html.ActionLink("Zurück", "Index")
</p>
